nav {
    height: 75px;
    color: black !important;
  }
  nav ul li a {
    height: 75px;
    color: black;
  }
  .sidenav-trigger {
    color: black;
  }
  .nav-wrapper {
    height: 75px;
  }
  img {
    padding: 10px;
    border-style: none;
    height: 100%;
    width: 100%;
  }
  
  .brand-logo {
    height: 75px;
    border-radius: 8px;
    width: 100%;
    max-width: 380px;
  }
  nav a.sidenav-trigger i {
      height: 75px;
      line-height: 75px;
    border-radius: 8px;
  }
  nav a.sidenav-trigger {
      height: 75px;
      line-height: 75px;
  }
  .jumbotron {
    /* background-image: url("https://raw.githubusercontent.com/xavierrocks/xavierrocks.github.io/master/trippyGlassesLMin.jpg"); */
    background-size: cover;
    padding-bottom: 14px !important;
    position: relative;
    background-position: center center;
  }
  
  .text-shadow {
    text-shadow: 2px 2px 15px #000;
  }  
  
  @media (max-width: 600px) { 
    .row .col.s12.m4 {
      text-align: center;
    }
  }
  
  