body {
padding: 0;
margin: 0;
overflow: hidden;
background: #000000;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px;
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #616161;
}
.loading:after {
  content: '';
  background: trasparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}


::-webkit-scrollbar { width: 6px; height: 6px; } ::-webkit-scrollbar-button { width: 0px; height: 0px; } ::-webkit-scrollbar-thumb { background: #2A65B0; border: 0px none #2A65B0; border-radius: 50px; } ::-webkit-scrollbar-thumb:hover { background: #4c88e8; } ::-webkit-scrollbar-thumb:active { background: #4a7ccc; } ::-webkit-scrollbar-track { background: #132A54; border: 0px none #132A54; border-radius: 0px; } ::-webkit-scrollbar-track:hover { background: #132A54; } ::-webkit-scrollbar-track:active { background: #060F1D; } ::-webkit-scrollbar-corner { background: transparent; }
