body {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  position: fixed;
  height: 100%;
}

html {
  height: 100%;
}

img {
  width: 100%;
}

.modal {
  overflow-x: hidden;
  overflow-y: scroll;
}