.pairs a {
    font-size:1.75em;
    text-decoration: underline;
    color: #212121;
}


ul.pairs>li:before {
    content: "○";
    font-size: 140%;
    padding-right: 5px;
    top: -2px;
    position: relative;
}


.stereograms {
    border-radius: 15px;
  }
  
.appLogo {
    border-radius: 20%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    box-shadow: 2px 2px 3px black;
}

body {
    background: #282828;
}

.modal {
    -webkit-overflow-scrolling: touch;
}