.pairs a {
    font-size:1.75em;
    text-decoration: underline;
    color: #212121;
}


ul.pairs>li:before {
    content: "○";
    font-size: 140%;
    padding-right: 5px;
    top: -2px;
    position: relative;
}


.stereograms {
    border-radius: 15px;
  }
  
.appLogo {
    max-width: 200px;
    border-radius: 20%;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 2px 2px 3px black;
}